.homepage-container {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
