.top-homepage {
    background-image: url('../Images/lmuCampusRedTint.png');
    background-position: center;
    text-align: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 75px;
}

h1 {
    font-size: large;
}

.click-option {
    font-size: medium;
    font-style: italic;
    color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

img {
    display: block;
    padding-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-link {
    text-decoration: none;
}
