.about-container {
    display: flex;
}

.column-right {
    width: 50%;
    display: table-cell;
    padding: 10px;
    margin-top: 8rem;
}

.column-left {
    width: 50%;
    display: table-cell;
}
.action-items {
    /* position: absolute; */
    /* bottom: 0; */
    display: flex;
    align-items: center;
}
