.sidebar {
    height: 100vh;
    position: fixed;
    left: 0;
    background-color: rgb(247, 247, 247);
    box-shadow: 30px;
    z-index: -1;
}

.side-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 100px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.side-text a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.side-text a:hover {
    background-color: rgb(186, 71, 71);
}
