@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@1,300&family=Oswald:wght@200&display=swap');

#sidebar {
    height: 100vh;
    position: fixed;
    left: 0;
    background-color: rgb(230, 228, 228);
    box-shadow: 30px;
    /* z-index: -1; */
    animation-name: slidein;
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.side-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 100px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.side-text a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Bebas Neue', cursive; */
    /* font-family: 'Oswald', sans-serif; */
}

.side-text a:hover {
    background-color: rgb(77, 135, 211);
    color: white;
    border-radius: 0%;
}
